<!DOCTYPE html>
<html lang="en">
	<%-  include("partials/header")  %>  
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	
	<!-- image search box -->
	   <div class="box pt-6">
		<div class="box-wrapper">
			<div class=" bg-white rounded flex items-center w-full p-3 shadow-sm border border-blue-500">
			  <button @click="getImages()" class="outline-none focus:outline-none"><svg class=" w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
			  <input type="search" name="" id="" @keydown.enter="getImages()" placeholder="search your classmates" x-model="q" class="w-full pl-4 text-sm outline-none focus:outline-none bg-transparent">
			  <div class="select">
				<select name="" id="" x-model="image_type" class="text-sm outline-none focus:outline-none bg-transparent">
				  <option value="all" selected>All</option>
				  <option value="photo">Photo</option>
				  <option value="illustration">Illustration</option>
				  <option value="vector">Vector</option>
				 </select>
			  </div>
			</div>
		  
		</div>
	</div>
    <br></br>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
        <% students.forEach((student) => { %>
		<div class="flex flex-col items-center justify-center bg-blue-50 p-4 shadow rounded-lg">
			<div class="inline-flex shadow-lg border border-blue-500 rounded-full overflow-hidden h-40 w-40">
				<a href="/students/<%= student._id %>">
				<img src=" <%= student.avatar %> "
					 alt=""
					 class="h-auto w-auto">
				</a>
			</div>
			<h2 class="mt-4 font-bold text-xl"><%= student.name %> <%= student.surname %> </h2>
			<h6 class="mt-2 text-blue-500 text-sm font-medium"> <%= student.department %> </h6>
			<h6 class="mt-2 text-blue-800 text-sm font-medium"> <%= student.university %> </h6>
			<p></p>
			<a href="/students/<%= student._id %>" class="px-5 py-1 bg-blue-600 text-white rounded-full">Göz At</a>
		</div>
		<% }) %> 
  </div>
</body>
</html>